nav {
  position: fixed;
  height: 120px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

span1 {
  font-family: 'Bungee', sans-serif;
  padding: 1.5em;

}

span2 {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 1.5em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.fa-solid,
.fas i:hover {
  align-items: flex-end;
  color: red;
}

@media only screen and (min-width: 1024px) {
  nav {
    background-color: #4056A1;
  }
}