button {
  font-family: 'Bungee', sans-serif;
  color: white;
  background-color: #4056A1;
  border: 0;
}

button:hover {
  background-color: #e4941c;
}

main {
  width: 90%;    
  display: flex;
  justify-content: center;
}

textarea {
  background-color: #f4f1ec;
  color: #545149;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  border-bottom: 4px solid black;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  resize: none;
  width: 100%;
  background-color: transparent;
}

.button-counter {
  font-family: 'Bungee', sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.tweet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet-header span {
  display: flex;
  align-items: center;
}

.tweet-text {
  margin: 1em;
  font-weight: bold;
}

hr {
  border-bottom: solid;
}

.tweet {
  border-style: solid;
  margin-bottom: 1em;
}

.tweet:hover {
  border-style: solid;
  box-shadow: 10px 10px 5px #4057a14a;
}

.article-margin {
  margin: 2%
}

footer {
  margin-top: 7px;
  display: flex;
  justify-content: space-between;
  font-size: initial;
}

.icons i {
  color: #4056A1;
}

.icons i:hover {
  color: #e4941c;
}

.username {
  color: #4057a14a;
}

[id^='error'] {
  font-size: smaller;
  color: red;
}